{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="{%static 'register.css'%}" />
  </head>

  <body>
    <div class="registration-container">
      <h2>Register Now!</h2>
      <form action="{%url 'register_user'%}" method="POST">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Register</button>
      </form>
      <p>
        Already have an account?
        <a href="{% url 'login_user' %}" class="login-link">Login here</a>
      </p>
    </div>
  </body>
</html>
